.title {
    text-align: center;
    margin: 10px 10px;
    background-color: black;
    color: white;
}

.homepage {
    background-color:burlywood;
}

ul li {
    margin: 10px 0;
    font-size: 20px;
}

.recipe-list{
    list-style:circle;
}

ul a:link {
    color: darkslategrey;
}

ul a:visited {
    color: #6E7F80;
}

ul a:hover{
    color: #8B4513; 
}

